@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

@font-face {
	font-family: GOTHAM-BOLD;
	src: url('Gotham-Bold.otf');
}

html, body, div, span, applet,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	height:100%
}

#opening{
padding: 0px 0px;
background-color: #fdfdfd;
display: block;
position: relative;
color:#111111;
height:auto;
font-family: gotham-bold, san-serif;    
}

#head { 
    font-size: 130pt;
    font-family: 'Shadows Into Light', cursive;
    color:white;
}

#sig {
position: absolute;
right: 1%;
bottom: 6%;
 
}
#collections{
display:block;

}

#collections a:hover{
text-decoration:underline;
}

#collections a{
text-decoration:none;
}

.collection-item{
display: inline-block;
height:10%;
width: 100%;


background-color: #333332;
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;


-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
text-align: center;
position: relative;
overflow: hidden;
vertical-align:bottom;
}

.block-fill{
position: absolute;
top: 0px;
left: 0px;
z-index: 0;
min-width: 100%;
background-size: cover;
background-position:center;
}


.collection-item-title{
color: #fff;
margin-top: 60px;
font-size: 30pt;
text-transform: uppercase;
line-height: 1.5em;
height: 110px;
}

#openingtext p{
font-size: 26px;

color: #333332;
line-height: 1.4em;
}