@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Oswald);

html {
    font-family: 'Oswald', 'sans-serif';
    -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
    color: #333333;
}

h1 {
    
    text-align: center;
    font-size: 90px;
    margin-bottom: -10px;
    
}

h4{


    margin-top: 10%;
}




body {
    background: #BF4030  ;

}



p {   
    margin-left: 35%;
    margin-right: 35%;
    text-align: justify; text-justify: inter-cluster;
    line-height: 18px;
    font-weight: lighter;
    font-family: helvetica;
    font-size: 15px;
       
}
#input{
  width:500px;
  height:auto;
  position:absolute;
  top:35%;
  left:50%;
  margin-left:-250px;
  background-color:#333 ;
}
#input input{
  position:relative;
  width:100%;
  font-size:x-large;
  text-transform:uppercase;
  color:#FFFFFF;
  border:none;
  outline:none;
  background:none;
  padding:12px 5px;
}
#input input:focus{
  box-shadow:0px 0px 3px 1px rgba(0,180,200,.5);
}
#input .border-line{
  width:100%;
  border:3px solid #555555;
  border-top:none;
  height:18%;
  position:absolute;
  bottom:0px; 
  box-shadow:0px 2px 3px 0px rgba(0,0,0,.25);
}

.subcount {
    font-size: 100px;
    margin-top: 15%;
}
